<!--First Section-->
<div class="mt-4">
    <div class="row logout">
        <div class="col-3">
           <img src="assets/person.png">
        </div>

        <div class="col-5">
            <span>Logout</span>
        </div>

        <div class="col-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="30" viewBox="0 0 24 29.25">
                <g id="Group_79" data-name="Group 79" transform="translate(-1713 -72)">
                  <path id="Icon_material-notifications-none" data-name="Icon material-notifications-none" d="M18,33a3.009,3.009,0,0,0,3-3H15A3.009,3.009,0,0,0,18,33Zm9-9V16.5c0-4.6-2.445-8.46-6.75-9.48V6a2.25,2.25,0,0,0-4.5,0V7.02C11.46,8.04,9,11.88,9,16.5V24L6,27v1.5H30V27Zm-3,1.5H12v-9c0-3.72,2.265-6.75,6-6.75s6,3.03,6,6.75Z" transform="translate(1707 68.25)" fill="rgba(46,71,101,0.8)"/>
                  <circle id="Ellipse_5" data-name="Ellipse 5" cx="3.5" cy="3.5" r="3.5" transform="translate(1730 75)" fill="#ff846e"/>
                </g>
              </svg>
        </div>

        <div class="col-2">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27" height="8" viewBox="0 0 27 8">
                <defs>
                  <clipPath id="clip-path">
                    <rect width="8" height="27" fill="none"/>
                  </clipPath>
                </defs>
                <g id="Repeat_Grid_3" data-name="Repeat Grid 3" transform="translate(27) rotate(90)" opacity="0.8" clip-path="url(#clip-path)">
                  <g transform="translate(-1850 -68)">
                    <circle id="Ellipse_6" data-name="Ellipse 6" cx="3" cy="3" r="3" transform="translate(1851 69)" fill="#2e4765"/>
                  </g>
                  <g transform="translate(-1850 -59)">
                    <circle id="Ellipse_6-2" data-name="Ellipse 6" cx="3" cy="3" r="3" transform="translate(1851 69)" fill="#2e4765"/>
                  </g>
                  <g transform="translate(-1850 -50)">
                    <circle id="Ellipse_6-3" data-name="Ellipse 6" cx="3" cy="3" r="3" transform="translate(1851 69)" fill="#2e4765"/>
                  </g>
                </g>
              </svg>
        </div>
    </div>
</div>

<!--Second Section-->

<div class="mt-4 sec-section">
    <h1 class="trends">Top trends</h1>
    <div class="row">
        <div class="col-6">
            <p class="buy">Buying Trend</p>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <p class="details">Details</p>
        </div>
    </div>

    <div class="mt-5">     
        <img src="assets/chart1.png" width="100%">
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <p class="buy">Overall Trend</p>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <p class="details">Details</p>
        </div>
    </div>

    <div class="mt-5">     
        <img src="assets/chart2.png" width="100%">
    </div>

</div>

<!--Third Section -->

<div class="mt-4 sec-section third-sec">
    <h1 class="trends" style="color: #ffbc6e;">Essential Tips </h1>
    <p>Unless it’s a core competency of your brand, don’t try to be clever in your product description, sales page, or product title. </p>
    <img src="assets/tips.png">
</div>