
<div class="container pl-5">
    <div class="row pt-4 header">
        <div class="col-6">
            <h1>Search Hub</h1>
        </div>

        <div class="col-6 d-flex justify-content-end pt-2">
            <p style="font-size: 20px;
            color: #2e4765;">Wellcome Back!<strong> Saeed Khan</strong></p>
        </div>
    </div>

    <div class="row pt-4 selects">
            <div class="col-sm-3">
                <select name="">
                    <option selected hidden value="1">Selecting Item type </option>
                    <option value="1">test</option>
                    <option value="1">test test test </option>
                    <option value="1">test</option>
                    <option value="1">test</option>
                    <option value="1">test</option>
                    <option value="1">test</option>
                    <option value="1">test</option>
                </select>
            </div>

            <div class="col-sm-3">
                <select name="">
                    <option hidden selected value="1">&#xf3c5; &nbsp; City </option>
                    <option value="1">test</option>
                    <option value="1">test test test </option>
                    <option value="1">test</option>
                    <option value="1">test</option>
                    <option value="1">test</option>
                    <option value="1">test</option>
                    <option value="1">test</option>
                </select>
            </div>

            <div class="col-sm-3">
                <select name="" id="date">
                    <option selected hidden value="1">&#xf053; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; April 2020 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &#xf054;</option>
                    <option value="1">test</option>
                    <option value="1">test test test </option>
                    <option value="1">test</option>
                    <option value="1">test</option>
                    <option value="1">test</option>
                    <option value="1">test</option>
                    <option value="1">test</option>
                </select>
            </div>

            <div class="col-sm-2">
                <select name="">
                    <option disabled selected value="1">Latest</option>
                    <option value="1">test</option>
                    <option value="1">test test test </option>
                    <option value="1">test</option>
                    <option value="1">test</option>
                    <option value="1">test</option>
                    <option value="1">test</option>
                    <option value="1">test</option>
                </select>
            </div>

            <div class="col-sm-1">
                <div class="search">
                    <i class="fas fa-search"></i>
                </div>
            </div>
    </div>

<!--########## 1st Cards ################## -->
    <div class="row mt-4">
    <!-- Left Side -->
        <div class="col-9 details pt-4">

          <div class="row">
                
           
                <div class="col-4">
                    <div class="row">
                        <div class="col-2 pl-2 pr-1">
                            <img src="assets/card-photo.png">
                        </div>
                        <div class="col-10 pr-0 pl-4 first-col">
                            <h4>AJWA DATES</h4>     
                            <img src="assets/location.png" class="pr-1">  <span>Rawalpindi Saddar</span>
                            <br><br>
                            <p>Product ID-AD-34566</p>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="row ">
                        <div class="col-4">
                            <a class="button1">Verified</a>
                        </div>
                        <div class="col-8">
                            <p class="button1-text">450 cartons</p>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-4 pr-0">
                            <a class="button2"><i class="fas fa-check"></i>Available</a>
                        </div>
                        <div class="col-8">
                            <a class="button3">Previous customer</a>
                        </div>
                    </div>
                </div>

                <div class="col-2 p-0">
                    <p class="calender">Today 10:45 AM</p>
                    <select name="" class="mt-5">
                        <option selected hidden value="1">Details</option>
                        <option value="1">test</option>
                        <option value="1">test test test </option>
                        <option value="1">test</option>
                        <option value="1">test</option>
                        <option value="1">test</option>
                        <option value="1">test</option>
                        <option value="1">test</option>
                    </select>
                </div>
          </div>
        </div>

    <!-- right side -->
        <div class="col-3 price pt-2">
           <div class="d-flex justify-content-between mb-1">
                <p>Asking Price</p>
                <p><i class="far fa-bookmark pt-1 pr-2" style="float: right;  color: #2e4765;"></i></p>
           </div>
           <h4>Rs.9670</h4>
           <div class="pt-3">
               <a>Auction Available</a>
           </div>
        </div>
    </div>

<!--########## End Cards ################## -->


<!--########## 2nd Cards ################## -->
    <div class="row secondProd mt-4">
    <!-- Left Side -->
        <div class="col-9 details pt-4">

          <div class="row">
                
           
                <div class="col-4">
                    <div class="row">
                        <div class="col-2 pl-2 pr-1">
                            <img src="assets/card-photo.png">
                        </div>
                        <div class="col-10 pr-0 pl-4 first-col">
                            <h4>BASMATI RICE</h4>     
                            <img src="assets/location.png" class="pr-1">  <span>Sialkot Main Bazar</span>
                            <br><br>
                            <p>Product ID-AD-34566</p>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="row ">
                        <div class="col-4">
                            <a class="button1">Not Verified</a>
                        </div>
                        <div class="col-8">
                            <p class="button1-text">950 sacks</p>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-4 pr-0">
                            <a class="button2"><i class="fas fa-check"></i>Available</a>
                        </div>
                        <div class="col-8">
                            <a class="button3">Newly joined</a>
                        </div>
                    </div>
                </div>

                <div class="col-2 p-0">
                    <p class="calender">Today 11:45 AM</p>
                    <select name="" class="mt-5">
                        <option selected hidden value="1">Details</option>
                        <option value="1">test</option>
                        <option value="1">test test test </option>
                        <option value="1">test</option>
                        <option value="1">test</option>
                        <option value="1">test</option>
                        <option value="1">test</option>
                        <option value="1">test</option>
                    </select>
                </div>
          </div>
        </div>

    <!-- right side -->
        <div class="col-3 price pt-2">
           <div class="d-flex justify-content-between mb-1">
                <p>Asking Price</p>
                <p><i class="far fa-bookmark pt-1 pr-2" style="float: right;  color: #2e4765;"></i></p>
           </div>
           <h4>Rs.4360</h4>
           <div class="pt-3">
               <a>No Auction</a>
           </div>
        </div>
    </div>

<!--########## End Cards ################## -->

<!--########## 3rd Cards ################## -->
    <div class="row thirdProd" style="margin-top: 25%">
    <!-- Left Side -->
        <div class="col-9 details pt-4">

          <div class="row">
                
           
                <div class="col-4">
                    <div class="row">
                        <div class="col-2 pl-2 pr-1">
                            <img src="assets/card-photo.png">
                        </div>
                        <div class="col-10 pr-0 pl-4 first-col">
                            <h4>COCONUT</h4>     
                            <img src="assets/location.png" class="pr-1">  <span>Karachi Buffer Zone</span>
                            <br><br>
                            <p>Product ID-AD-34566</p>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="row ">
                        <div class="col-4">
                            <a class="button1">Verified</a>
                        </div>
                        <div class="col-8">
                            <p class="button1-text">950 cartons</p>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-4 pr-0">
                            <a class="button2"><i class="fas fa-check"></i>Available</a>
                        </div>
                        <div class="col-8">
                            <a class="button3">Top Seller</a>
                        </div>
                    </div>
                </div>

                <div class="col-2 p-0">
                    <p class="calender">Today 10:45 AM</p>
                    <select name="" class="mt-5">
                        <option selected hidden value="1">Details</option>
                        <option value="1">test</option>
                        <option value="1">test test test </option>
                        <option value="1">test</option>
                        <option value="1">test</option>
                        <option value="1">test</option>
                        <option value="1">test</option>
                        <option value="1">test</option>
                    </select>
                </div>
          </div>
        </div>

    <!-- right side -->
        <div class="col-3 price pt-2">
           <div class="d-flex justify-content-between mb-1">
                <p>Asking Price</p>
                <p><i class="far fa-bookmark pt-1 pr-2" style="float: right;  color: #2e4765;"></i></p>
           </div>
           <h4>Rs.4860</h4>
           <div class="pt-3">
               <a>Auction Available</a>
           </div>
        </div>
    </div>

<!--########## End Cards ################## -->


<!--########## 4th Cards ################## -->
    <div class="row mt-4">
    <!-- Left Side -->
        <div class="col-9 details pt-4">

          <div class="row">
                
           
                <div class="col-4">
                    <div class="row">
                        <div class="col-2 pl-2 pr-1">
                            <img src="assets/card-photo.png">
                        </div>
                        <div class="col-10 pr-0 pl-4 first-col">
                            <h4>WHITE PEAS</h4>     
                            <img src="assets/location.png" class="pr-1">  <span>Karachi Nazimabad</span>
                            <br><br>
                            <p>Product ID-AD-34566</p>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="row ">
                        <div class="col-4">
                            <a class="button1">Verified</a>
                        </div>
                        <div class="col-8">
                            <p class="button1-text">650 cartons</p>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-4 pr-0">
                            <a class="button2"><i class="fas fa-check"></i>Available</a>
                        </div>
                        <div class="col-8">
                            <a class="button3">Previous customer</a>
                        </div>
                    </div>
                </div>

                <div class="col-2 p-0">
                    <p class="calender">Today 09:45 PM</p>
                    <select name="" class="mt-5">
                        <option selected hidden value="1">Details</option>
                        <option value="1">test</option>
                        <option value="1">test test test </option>
                        <option value="1">test</option>
                        <option value="1">test</option>
                        <option value="1">test</option>
                        <option value="1">test</option>
                        <option value="1">test</option>
                    </select>
                </div>
          </div>
        </div>

    <!-- right side -->
        <div class="col-3 price pt-2">
           <div class="d-flex justify-content-between mb-1">
                <p>Asking Price</p>
                <p><i class="fas fa-bookmark pt-1 pr-2" style="float: right;  color: #2e4765;"></i></p>
           </div>
           <h4>Rs.4250</h4>
           <div class="pt-3">
               <a>Auction Available</a>
           </div>
        </div>
    </div>

<!--########## End Cards ################## -->

<!--######### Ads ###########################-->

    <div class="ads">
        <img src="assets/customer.png">
        <div class="row h-100">
            <div class="col-2">
                
            </div>
            <div class="col-6 d-flex justify-content-center flex-column">
                <p>YOUR ORDER HAS SHIPPED.</p>
                <p class="use">Use this tracking number to track your order</p>
                <p style="text-decoration: underline;">456798304930495</p>
            </div>

            <div class="col-4 d-flex align-items-end pb-4">
                <div>
                    <img class="num1" src="assets/33.png">
                    <img class="num2" src="assets/22.png">
                    <img class="num3" src="assets/11.png">
                </div>
                <a>CHECK YOUR ORDER DETAILS</a>
            </div>

            
        </div>
    </div>
<!--######### End Ads #######################-->
</div>

         